@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bem-vindo ao Gerenciador de Clientes</h1>
<p>
   <a asp-page="/Create">Adicionar Novo Cliente</a>
</p>

@if (Model.Clientes != null && Model.Clientes.Count > 0)
{
<table class="table table-striped">
 <thead>
 <tr>
   <th>Nome</th>
   <th>Email</th>
   <th>Telefone</th>
 </tr>
 </thead>
   <tbody>
   @foreach (var cliente in Model.Clientes)
{
  <tr>
    <td>@cliente.Nome</td>
    <td>@cliente.Email</td>
    <td>@cliente.Telefone</td>
 </tr>
  }
  </tbody>
</table>
}
else
{
<p>Nenhum cliente cadastrado ainda.</p>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
